### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame, then peek at the first five rows
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
# get a count of unique players; some players have made more than one purchase
pCount = purchase_data['SN'].nunique()

# create and display a summary data frame
summary_df1 = pd.DataFrame({'Total Players':[pCount]})

#hide the index that doesn't provide any additional information
summary_df1.style.hide_index()

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# make calculations and store values
itemsUnique = purchase_data['Item ID'].nunique()
priceAverage = purchase_data['Price'].mean()
purchasesCount = purchase_data['Purchase ID'].count()
revenueTotal = purchase_data['Price'].sum()

#create a summary data frame
summary_df2 = pd.DataFrame({'Number of Unique Items':[itemsUnique],
                          'Average Price':[priceAverage],
                          'Number of Purchases':[purchasesCount],
                          'Total Revenue':[revenueTotal]})

# create a formatting dictionary to format the currency values
formatting = {'Average Price':'${:.02f}',
            'Total Revenue':'${:,.02f}'}

# display the formatted version of the summary data frame
summary_df2.style.format(formatting).hide_index()

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
# make a new data frame of just SN and Gender, dropping any duplicate rows
player_and_gender = purchase_data.loc[:,['SN','Gender']].drop_duplicates()

# peform basic calculations on the new data frame and store the resulting series
gCounts = player_and_gender['Gender'].value_counts()
gFraction = gCounts/len(player_and_gender)

# make a summary data frame
summary_df3 = pd.DataFrame({'Total Count':gCounts,
                           'Percentage of Players':gFraction})

# display a formatted version of the summary data frame
summary_df3.style.format({'Percentage of Players':'{:.2%}'})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# group by Gender
gGrouped = purchase_data.groupby('Gender')

# make the desired calculations and store the resulting series
gPurCount = gGrouped['Purchase ID'].count()
gAvgPPrice = gGrouped['Price'].mean()
gTotPur = gGrouped['Price'].sum()
gAvgTotPur = gTotPur/gCounts

# make the summary data frame
summary_df4 = pd.DataFrame({'Purchase Count':gPurCount,
                           'Average Purchase Price':gAvgPPrice,
                           'Total Purchase Value':gTotPur,
                           'Avg Total Purchase per Person':gAvgTotPur
                          })

# make a format dictionary to format the columns that have currency values
formatter = {'Average Purchase Price':'${:.02f}',
             'Total Purchase Value':'${:.02f}',
             'Avg Total Purchase per Person':'${:.02f}'}

# display the formatted version of the data frame
summary_df4.style.format(formatter)

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [7]:
# make a new data frame of just SN and Age, dropping any duplicate rows
player_and_age = purchase_data.loc[:,['SN','Age']].drop_duplicates()

# make bins and labels
bins = [0,9,14,19,24,29,34,39,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# add the column w/bins
player_and_age['Age Bin'] = pd.cut(player_and_age['Age'],bins,labels=labels)

# peform basic calculations and store the resulting series
aCounts = player_and_age['Age Bin'].value_counts()
aFraction = aCounts/len(player_and_age)

# make a summary data frame
summary_df5 = pd.DataFrame({'Total Count':aCounts,
                           'Percentage of Players':aFraction})

# need to resort by the bin labels/index
sorted_df5 = summary_df5.sort_index()

# display a formatted version of the sorted summary data frame
sorted_df5.style.format({'Percentage of Players':'{:.2%}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [8]:
# make bins and labels
bins = [0,9,14,19,24,29,34,39,200]
labels = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

# add the column w/bins
purchase_data['Age Bin'] = pd.cut(purchase_data['Age'],bins,labels=labels)

# group by age bin
aGrouped = purchase_data.groupby('Age Bin')

# make the desired calculations and store the resulting series
aPurCount = aGrouped['Purchase ID'].count()
aAvgPPrice = aGrouped['Price'].mean()
aTotPur = aGrouped['Price'].sum()
aAvgTotPur = aTotPur/aCounts

# make the summary data frame
summary_df6 = pd.DataFrame({'Purchase Count':aPurCount,
                           'Average Purchase Price':aAvgPPrice,
                           'Total Purchase Value':aTotPur,
                           'Avg Total Purchase per Person':aAvgTotPur
                          })

# need to sort by the bin labels/index
sorted_df6 = summary_df6.sort_index()

# make a format dictionary to format the columns that have currency values
formatter6 = {'Average Purchase Price':'${:.02f}',
             'Total Purchase Value':'${:.02f}',
             'Avg Total Purchase per Person':'${:.02f}'}

# display the formatted version of the data frame
sorted_df6.style.format(formatter6)

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
# group by username
nGrouped = purchase_data.groupby('SN')

# make the desired calculations and store the resulting series
nPurCount = nGrouped['Purchase ID'].count()
nAvgPPrice = nGrouped['Price'].mean()
nTotPur = nGrouped['Price'].sum()

# make the summary data frame
summary_df7 = pd.DataFrame({'Purchase Count':nPurCount,
                           'Average Purchase Price':nAvgPPrice,
                           'Total Purchase Value':nTotPur
                          })

# sort by total purchase value
sorted_df7 = summary_df7.sort_values('Total Purchase Value',ascending = False)

# make a format dictionary to format the columns that have currency values
formatter7 = {'Average Purchase Price':'${:.02f}',
             'Total Purchase Value':'${:.02f}'}

# display the first five rows of the sorted, formatted version of the data frame
sorted_df7.head().style.format(formatter7)

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
# make the new data frame with a slice of columns
item_df = purchase_data.iloc[:,4:7]

# group by two columns, though they're just different flavors of the same information
iGrouped = item_df.groupby(['Item ID','Item Name'])

# make calculations and store the resulting series
iPurCount = iGrouped['Price'].count()
# I'm using a function to get price values in a series. There's only one price value in a group, so min, first, etc. would also work.
iPrice =  iGrouped['Price'].max()
iTotPur = iPurCount * iPrice

summary_df8 = pd.DataFrame({'Purchase Count':iPurCount,
                         'Item Price':iPrice,
                         'Total Purchase Value':iTotPur})

# sort by purchase count
sorted_df8 = summary_df8.sort_values('Purchase Count',ascending = False)

# make a format dictionary to format the columns that have currency values
formatter8 = {'Item Price':'${:.02f}',
             'Total Purchase Value':'${:.02f}'}

# display the first five rows of the sorted, formatted version of the data frame
sorted_df8.head().style.format(formatter8)

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [11]:
# sort previous data frame by total purchase value
sorted_df9 = summary_df8.sort_values('Total Purchase Value',ascending = False)

# display the first five rows, using previous formatting
sorted_df9.head().style.format(formatter8)

# Additional analyses...

In [45]:
# examine the frequency of purchases by user (results below)

# fewer than 7% of users made more than two purchase, suggesting that users aren't seeing 
# game-playing value in their purchases. So make the items more useful in gameplay.

purRepeat = summary_df7['Purchase Count'].value_counts()
pctRepeat = purRepeat/pCount

# make a summary data frame
summary_df10 = pd.DataFrame({'# of Purchases':purRepeat.index,
                             'Count of Players':purRepeat,
                           '% of Players':pctRepeat}).sort_values(['# of Purchases'],ascending = False)

# display a formatted version of the summary data frame
summary_df10.style.format({'% of Players':'{:.2%}'}).hide_index()

In [46]:
# examine the frequency of item purchases (results below)

# almost 20% of the items are purchased two or fewer times.
# replace some of these poor-performing times with new items.

ipurRepeat = summary_df8['Purchase Count'].value_counts()
ipctRepeat = ipurRepeat/itemsUnique

# make a summary data frame
summary_df10 = pd.DataFrame({'Count of Purchases':ipurRepeat.index, 
                             '# of Items':ipurRepeat,     
                           '% of Purchases':ipctRepeat}).sort_values(['Count of Purchases'],ascending = False)

# display a formatted version of the summary data frame
summary_df10.style.format({'% of Purchases':'{:.2%}'}).hide_index()